{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-center">Popular Movies</h3>
    <div class="row">
        {% for movie_item in popular %}
        <div class="col-xs-6 col-sm-6 col-md-3 pt-3 movie-card">
            <img src="https://image.tmdb.org/t/p/w342/{{movie_item.poster_path}}" alt=""
                style="width: 300px; height: 350px;">
            <p><a href="{%url 'single_movie' movie_item.id %}">{{movie_item.title}}</a></p>
        </div>
        {% endfor %}
    </div>

    <h3 class="text-center">Upcoming Movies</h3>
    <div class="row">

        {% for movie in upcoming %}
        <div class="col-xs-6 col-sm-6 col-md-3 pt-3 movie-card">
            <img src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" alt=""
                style="width: 300px; height: 350px;">
            <p><a href="{%url 'single_movie' movie.id %}">{{movie.title}}</a></p>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}